%h3= t('edit_user')
%h5
  = link_to t('show'), resource
  \|
  = link_to t('back'), :back

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :name, required: true, autofocus: true
    = f.input :company, collection: Figaro.env.company.split(",")

    = f.input :password, autocomplete: "off", hint: t('blank_for_unchanged_password'), required: false
    = f.input :password_confirmation, required: false

    = f.input :current_password, hint: t('password_for_confirmation'), required: true

  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')

%h5
  = link_to t('show'), resource
  \|
  = link_to t('back'), :back