%h3= t('edit_stock_tran')
%h5
  = link_to t('show'), @stock_tran
  \|
  = link_to t('back'), stock_trans_path

= render 'form'

%h5
  = link_to t('show'), @stock_tran
  \|
  = link_to t('back'), stock_trans_path