.panel.panel-default
  .panel-heading
    條碼信息查詢
  .panel-body{style:'padding-bottom: 0px;'}
    = form_tag(scan_barcodes_url, method: 'get', class: 'form-horizontal', id:'form_id') do
      .form-group
        .col-xs-12
          = text_field_tag :barcode, nil,placeholder: t('attributes.barcode'), class: 'form-control', value:'', id: 'barcode'
    %hr
    - if @barcode.present?
      %dl.dl-horizontal.mobile
        %dt= t('attributes.barcode')
        %dd= @barcode.seq
        %dt= t('attributes.matnr')
        %dd= @barcode.stock_master.matnr
        %dt= t('attributes.charg')
        %dd= @barcode.stock_master.charg
        %dt= t('attributes.maktx')
        %dd= @barcode.stock_master.maktx
        %dt= t('attributes.matkl')
        %dd= @barcode.stock_master.matkl
        %dt= t('attributes.aufnr')
        %dd= @barcode.stock_master.aufnr
        %dt= t('attributes.budat')
        %dd= @barcode.stock_master.budat
        %dt= 'DCODE'
        %dd= @barcode.stock_master.datecode
        %dt= t('attributes.werks')
        %dd= @barcode.stock_master.werks
        %dt= t('attributes.mblnr')
        %dd
          = @barcode.stock_master.mjahr
          = @barcode.stock_master.mblnr
          = @barcode.stock_master.zeile
        %dt= t('attributes.lgort')
        %dd= @barcode.storage.present? ? @barcode.storage : @barcode.lgort
        %dt= t('attributes.container')
        %dd= @barcode.name.upcase
        %dt= t('attributes.menge')
        %dd
          = @qty
          = @barcode.stock_master.meins
        - if @barcode.parent.present?
          %dt= t('attributes.pallet_cnt')
          %dd= @barcode.parent.seq
    %hr
    - if @barcodes.present?
      = "此棧板上有#{@barcodes.size}箱"
      .table-responsive
        %table.table.table-striped.table-condensed.small
          %thead
            %tr
              %th
              %th= t('attributes.barcode')
              %th= t('attributes.menge')
          %tbody
            - i = 0
            - @barcodes.each do |row|
              - i += 1
              %tr
                %td= i
                %td= row.seq
                %td
                  = row.menge
                  = @barcode.stock_master.meins
